*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}


/********************
 **global CSS Here **
 ********************/
.container{
    width: 1140px;
    margin: 0px auto;
}
 .col-2{
    width: 50%;
    float: left;
}
.col-4{
    width: 33.33%;
    float: left;
}
.col-6{
    width: 50%;
    float: left;
}
.col-12{
    width: 100%;
    float: left;
}
.btn{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    padding: 15px 20px ;
    color: #fff;
    background-color:#FF5959;
    border: 0px;
    border-radius: 5px;
    margin-top: 25px;
}

/* header seaction start */
.header{
    background-image: url(../images/donation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
    text-align: center;
}
.header h1{
    font-size: 50px;
    color: #fff;
    line-height: 60px;
    margin: 230px 0px 20px;
}
.header p{
    color: #fff;
}
}
