
body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding: 0px;
    margin: 0px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
a{
    text-decoration: none;
}


/********************
 **global CSS Here **
 ********************/
.container{
    width: 1140px;
    margin: 0px auto;
}
 .col-2{
    width: 16%;
    float: left;
}
.col-4{
    width: 33.33%;
    float: left;
}
.col-6{
    width: 50%;
    float: left;
}
.col-12{
    width: 100%;
    float: left;
}
.btn{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    padding: 15px 20px ;
    background-color:#FF5959;
    border: 0px;
    border-radius: 5px;
}
.btn a{
    color: #fff;
}
.title{
    font-size: 40px;
    color: #121212;
    margin: 0px 0px 30px;
}


/* header seaction start */
.header{
    background-image: url(../images/donation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
    text-align: center;
}
.header h1{
    font-size: 50px;
    color: #fff;
    line-height: 60px;
    margin: 230px 0px 20px;
}
.header p{
    color: #fff;
}
.header .btn{
    margin-top: 25px;
}


/* donate-today section CSS start */
.donate-today{
    width: 100%;
    margin-top: 80px;
    text-align: center;
}
.donate-today p{
    margin-bottom: 20px;
    color: #707070;;
}
.donate-today .money{
    font-size: 30px;
    float: left;
    padding: 20px 0px 30px;
    margin: 30px 21px 0px;
    font-weight: 700;
    color: #707070;
    background-color:#FAFAFA ;
    border-radius: 4px;
    margin-bottom: 80px;
}
.donate-today .last {
    font-size: 30px;
    float: left;
    padding: 60px 0px 70px;
    margin: 30px 21px 0px;
    font-weight: 700;
    color: #707070;
    background-color: #FAFAFA;
    border-radius: 4px;
    margin-bottom: 80px;
}
.donate-today .hover{
    color: #FF5959;
    background-color: #ffeeee ;
    border: 2px solid #FF5959;
}
.donate-today .other{
    padding-bottom: 20px;
    border-bottom: 1px solid #DADADA;
}
.donate-today .btn{
    margin: 0px 0px 90px !important;
}


 /* donate-plan section CSS start  */
.donate-plan{
    text-align: center;
} 
.donate-plan .head-text{
    margin-bottom: 70px;
}
.donate-plan .food{
    padding: 60px 0px 10px 30px;
    width: 320px;
    height: 270px;
    background-color: #DDFBFE;
    text-align: left !important;
    border-radius: 5px;
}
.donate-plan .food img{
    width: 20%;
    margin-top: 13px;
}
.donate-plan .food h6{
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin: 20px 0px 10px;
}
.donate-plan .food p{
    font-size: 16px;
    line-height: 24px;
}
.donate-plan .shelter {
    background-color: #FFEDED;
    text-align: left !important;
    padding: 60px 0px 10px 30px;
    width: 330px;
    height: 270px;
    margin: 0px 30px;
    border-radius: 5px;
    margin-bottom: 120px;
}
.donate-plan .shelter img {
    width: 20%;
}
.donate-plan .shelter h6 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin: 20px 0px 10px;
}
.donate-plan .shelter p {
    font-size: 16px;
    line-height: 24px;
}
.donate-plan .edu {
    background-color: #FFF4D6;
    text-align: left !important;
    padding: 60px 0px 10px 30px;
    width: 330px;
    height: 270px;
    }
.donate-plan .edu img {
    width: 20%;
}
.donate-plan .edu h6 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin: 20px 0px 10px;
}
.donate-plan .edu p {
    font-size: 16px;
    line-height: 24px;
}


 /* iteam-section CSS Start here */
 .iteam-section{
    width: 100%;
 }
.iteam-section .top-iteam h2{
    text-align: left;
    font-size: 40px;
    line-height: 48px;
    margin: 60px 0px 15px;
}
.iteam-section .top-iteam p{
    margin: 10px 0px;
}
.iteam-section .top-iteam .btn{
    margin-top: 10px;
}
.iteam-section .top-iteam img{
    text-align: right;
}
.down-iteam img{
    margin: 100px 0px 
}
.iteam-section .down-iteam h2 {
    text-align: left;
    font-size: 40px;
    line-height: 48px;
    margin: 160px 0px 15px;
}
.iteam-section .down-iteam p {
    margin: 10px 0px;
}

.iteam-section .down-iteam .btn {
    margin-top: 10px;
}


 /*  email-section CSS Start */
.email-section{
    text-align: center;
}
.email-section p{
    margin-bottom: 60px;
}
.email-section .email-box{
    display: flex;
    width: 60%;
    margin-left: 250px;
    text-align: center;
    padding:100px 0px 60px;
    background-color: #FFF4D6; ;
    border-radius: 5px;
}
.email-section .email-box .box{
    width: 275px;
    height: 48px;
    background-color: #d9d9d9;
    font-size: 16px ;
    line-height: 24px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    outline: none;
    padding: 0px 10px;
    margin-left: 100px;
}
.email-section .email-box .btn{
    padding: 12px 45px;
    margin: 0px 0px;
    color: #FAFAFA;
    border-radius: 0px 5px 5px 0px;
}


/* footer-section CSS start here */
.footer-section{
    padding: 20px 0px; 
    height: 100px;
    margin: 2913px 0px 0px;
    color: #FF5959;
    background-color: #0b0d17;
    text-align: center;
}
.footer-section p{ 
    color: #d9d9d9;

}


