*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
a{
    text-decoration: none;
}


/********************
 **global CSS Here **
 ********************/
.container{
    width: 1140px;
    margin: 0px auto;
}
 .col-2{
    width: 16%;
    float: left;
}
.col-4{
    width: 33.33%;
    float: left;
}
.col-6{
    width: 50%;
    float: left;
}
.col-12{
    width: 100%;
    float: left;
}
.btn{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    padding: 15px 20px ;
    background-color:#FF5959;
    border: 0px;
    border-radius: 5px;
}
.btn a{
    color: #fff !important;
}

.title{
    font-size: 40px;
    color: #121212;
    margin: 0px 0px 30px;
}

/* header seaction start */
.header{
    background-image: url(../images/donation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
    text-align: center;
}
.header h1{
    font-size: 50px;
    color: #fff;
    line-height: 60px;
    margin: 230px 0px 20px;
}
.header p{
    color: #fff;
}
.header .btn{
    margin-top: 25px;
}

/* donate-today section start */
.donate-today{
    width: 100%;
    margin-top: 80px;
    text-align: center;
}
.donate-today p{
    margin-bottom: 50px;
    color: #707070;;
}
.donate-today .money{
    font-size: 30px;
    float: left;
    padding: 50px 0px;
    margin: 0px 21px;
    font-weight: 700;
    color: #707070;
    background-color:#FAFAFA ;
    border-radius: 4px;
    margin-bottom: 70px;
}
.donate-today .hover{
    color: #FF5959;
    background-color: #ffeeee ;
    border: 2px solid #FF5959;
}
.donate-today .other{
    padding-bottom: 30px;
    border-bottom: 1px solid #DADADA;
}
.donate-today .btn{
    margin-top: 0px !important;
}